body {
  font-family: PancakeFont, FallbackFont, sans-serif;
  font-size: 1em;
  background-color: #F5F5F5;
  padding-top: 70px
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

div.profile {
  padding: 2vw;
  position: relative;
  justify-content: center;
}

div.passage-cards {
  padding:  0 0 0;
}

h1 {
  position: relative;
  text-align: center;
  padding: 1vw;
}

#newCard {
  background-color: #e0e1e2;
  padding: 2em;
}
