/* .ProfileDiv {
  background-color: lightgray;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
} */
div.main {
  padding: 2vw;
  position: relative;
  justify-content: center;
}

div.passage-cards {
  padding:  0 0 0;
}

div.card {
  margin: 0 0 2vw 0;
  background-color: red;
  width: 20%;
  padding: 1vw;
  margin-right: 1vw;
}

h1 {
  position: relative;
  text-align: center;
  padding: 1vw
}

#newCard {
  background-color: #e0e1e2
}
