.lines {
  font-size: 1.85rem;
  font-family: PancakeFont, FallbackFont, sans-serif;
  color: black;
  line-height: 2.4rem;
  margin-bottom: 0.3rem;
}

.blurred {
  filter: blur(3px);
  color: gray;
}

.card {
  padding: 1rem 2rem;
}


button.button-next {
  background-color: #eee;
  color: lightgray;
  font-size: 1.5em;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}