/* PassageTrainer css */

.decimate {
    display: block;
    background-color: white;
    text-align: center;
}

#slideBar {
    width: 80%;
    min-width: 200pxs;
}

.passageText {
    font-size: 2em;
    font-family: PancakeFont, FallbackFont, sans-serif;
    color: black;
    line-height: 1.5em;
}

.container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    max-width: 900px;
}