/* PassageTrainer css */

.decimate {
    display: block;
    background-color: white;
    text-align: center;
}

#slideBar {
    width: 80%;
    min-width: 200pxs;
}

.passageTextContainer {
    font-size: 1.85rem;
    font-family: PancakeFont, FallbackFont, sans-serif;
    color: black;
    line-height: 2.4rem;
    padding: 1rem 2rem;
}

.container {
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    max-width: 900px;
}