/* PassageTrainer css */

.decimate {
    display: block;
    background-color: white;
    text-align: center;
}

#slideBar {
    width: 80%;
    min-width: 200pxs;
}

.passageText {
    font-size: 2em;
    font-family: PancakeFont, FallbackFont, sans-serif;
    color: BLACK;
}