.passageText {
    position: relative;
    line-height: 1.5;
    font-size: 1.6em;
    margin-bottom: 8px;
    font-family: PancakeFont, FallbackFont, sans-serif;
    color: #333;
    letter-spacing: .034em
}

.hintBox {
    font-size: 3em
}

.hintBox {
    font-size: .8em
}